.App {
  text-align: center;
}

.App button {
  width: 200px;
  margin-top: 10px;
  
}

.users {
  display: flex;
  flex-wrap: wrap;
 
  margin-top: 10px;
  position: relative;
}

.user {
  width: 250px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  border: solid 1px grey;
  margin: 2px;
}

.user p {
  margin: 0;
}
.yes {
  color: green;
  text-emphasis: strong;
}
.no {
  color: red;
}
.userProjects {
  background-color: lightgrey;
  flex: 1;
  border-top: solid 1px grey;
  height: auto;
}